<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title><%= title %> - xiaominge</title>
    <link rel='stylesheet' href='/build/aaa.css' />

</head>
<body>
<% if (success) { %>
<div class="alert alert-success">
    <%= success %>
</div>
<% } %>
<% if (error) { %>
<div class="alert alert-error">
    <%= error %>
</div>
<% } %>
<div class="head">
    <img class="logo" src="images/logo.jpg">
    <img class="code" src="images/code2.jpg">
</div>
<div class="mainTitle">

</div>
<div id="container" class="container">

    <%- body %>
    <hr />

</div>
<div class="footer">
    <div class="footImage">
        <img src="images/foot1.jpg">
        <img src="images/foot2.jpg">
        <img src="images/foot3.jpg">
        <img src="images/foot4.jpg">
    </div>
</div>
</body>
<!--<script src="/javascripts/jquery.min.js"></script>-->
<script src="/build/vendor.bundle.js"></script>
<script src="/build/index.bundle.js"></script>

</html>